#Data Structures Assignment#


###Theory Questions

Q1. What are data structures, and why are they important?
Ans:
Data Structures are ways of organising and storing data.

Data structures play an important role in computer science and programming as they are important for maintaining data, manipulations of it along with processing.

-----
Q2.  Explain the difference between mutable and immutable data types with examples.
Ans:
Mutable Data Types can be edited after their creation. We can add, remove or modify elements.

Example of mutable data types:
List
Dictionary
Set

Example with python code:

Code:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

Output:
[1, 2, 3, 4]

Immutable data types can not be change after their creation. A new object creation is needed to edit the data types.

Examples of immutable data types:
int
float
string
tuple

Example with python code:
name = "Suraj"
name = name + " Kumar"  # A new string is created
print(name)  # Output: Suraj Kumar

-----
Q3. What are the main differences between lists and tuples in Python?
Ans:
Main differences between lists and tuples are defined as per the below factors.

Mutable:
Lists are mutable but tuples are not.

Syntax:
Syntax of Lists will be = [1, 2, 3]. [] will be used.
Syntax of Tuple will be = (1, 2, 3). () will be used.

Built in methods:
Lists have more built-in methods (like append(), remove(), sort(), etc)
Tuples have very few methods (mainly count() and index())


-----
Q4. Describe how dictionaries store data?
Ans:
Dictioneries stores the data as key-value pair. The key maps to a specific value and you can use the key to quickly access the value.

Dictionaries use a system called hashing. Each key is passed through a hash functionto get a unique number(hash code).

Hashcode decides where the key value pair is stored in memory.


-----
Q5. Why might you use a set instead of a list in Python?
Ans:
You might use set instead of list in python because of below mentioned reasons:

A. You need to store unique items. Set automatically stores removes duplicates.
my_list = [1, 2, 2, 3]
my_set = set(my_list)  # {1, 2, 3}


B. You want to perform set operations. Sets support operations like union, intersection, difference, etc.
a = {1, 2, 3}
b = {2, 3, 4}
print(a & b)  # intersection → {2, 3}


-----
Q6. What is a string in Python, and how is it different from a list?
Ans:
String: Defined using single (' ') or double (" ") quotes.

Data Types:
String are sequence of characters and lists are sequence of any data types.

Mutability:
Strings are Immutable but the Lists are mutable.

Modification:
Modification is not allowed in string but allowed in lists.

Syntax:
Syntax for String will be "Hellow" and for lists will be [1,2,3]


------
Q7. How do tuples ensure data integrity in Python?
Ans:
Tuples ensure data integrity in Python mainly because they are immutable — meaning once a tuple is created, its contents cannot be changed.


-----
Q8. What is a hash table, and how does it relate to dictionaries in Python?
Ans:
A hash table is a data structure that stores key-value pairs and allows for fast data lookup using keys.

Hashing:
When you add a key to a dictionary, Python runs a hash function on the key to convert it into a number (called a hash code).

Indexing:
This hash code determines where the key-value pair will be stored in memory.

Retrieval:
When you look up a key, Python uses the hash code to quickly find the value.


-----
Q9. Can lists contain different data types in Python?
Ans:
Yes, lists in Python 3 can contain different data types.


-----
Q10. Explain why strings are immutable in Python
Ans:
Strings are immutable in Python because once a string is created, it cannot be changed — any operation that seems to change a string actually creates a new string.


-----
Q11. What advantages do dictionaries offer over lists for certain tasks?
Ans:

Advantages of dictionaries offered over lists are mentioned below:


Fast lookups
Dictionaries let you quickly find values by using keys.
This is much faster than searching through a list, especially if the list is large.

Clear and meaningful structure
Dictionaries use key-value pairs, which makes your code more readable.
You don’t have to remember index positions like with lists.


-----
Q12. Describe a scenario where using a tuple would be preferable over a list.
Ans:
A good scenario where using a tuple is preferable over a list is when you need to store a fixed collection of related values that should not change.

Example: Storing GPS Coordinates
location = (28.6139, 77.2090)

A. The data shouldn't change
Coordinates are fixed — you don’t want someone accidentally modifying them. A tuple keeps the data safe.

B. Tuples can be used as dictionary keys
If you want to use this coordinate as a key in a dictionary (e.g., to store metadata for that location)

Python Code:
places = {
    (28.6139, 77.2090): "New Delhi"
}

Lists can't be used as keys because they're mutable and unhashable.



-----
Q13. How do sets handle duplicate values in Python?
Ans:
In Python, sets automatically remove duplicate values. They only store unique items.



-----
Q14.  How does the “in” keyword work differently for lists and dictionaries?
Ans:
The in keyword is used in both lists and dictionaries in Python, but it behaves differently depending on the data structure.

For lists:
in checks if a value exists in the list.

my_list = [10, 20, 30]
print(20 in my_list)


For dictionaries:
in checks if a key exists, not the value.

my_dict = {"name": "Suraj", "age": 25}
print("name" in my_dict)   # True
print("Suraj" in my_dict)  # False (because it's a value, not a key)



-----
Q15. Can you modify the elements of a tuple? Explain why or why notP
Ans:
No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.


-----
Q16.  What is a nested dictionary, and give an example of its use case?
Ans:
A nested dictionary is a dictionary where values are themselves dictionaries. It’s useful for storing structured or grouped data.

Example:
Let’s say you want to store student records with their details:

Python code:
students = {
    "1023": {"name": "Amit", "age": 14, "grade": "A"},
    "1022": {"name": "Neha", "age": 16, "grade": "B"},
    "1033": {"name": "Rahul", "age": 18, "grade": "A"}
}


-----
Q17.  Describe the time complexity of accessing elements in a dictionary?
Ans:
Accessing elements in a dictionary in Python has an average-case time complexity of O(1) — meaning it takes constant time, no matter how big the dictionary is.


-----
Q18. In what situations are lists preferred over dictionaries?
Ans:
Order matters:
If you care about the position of items or want to keep them in a specific sequence, a list is the better choice.

You don’t need named keys
When your data doesn’t need labels and you just want to store values one after another.

You’re working with duplicates
Lists can store the same value multiple times, while dictionaries can’t have duplicate keys.


-----
Q19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans:
Dictionaries in Python were traditionally considered unordered because they stored key-value pairs without guaranteeing the order of insertion. This meant that the order in which you added items wasn’t preserved when you retrieved or iterated through them.


-----
Q20.

Ans:
The main difference between a list and a dictionary in terms of data retrieval is how you access the data:

Lists use index-based access
You retrieve items by their position (index) in the list.
Indexes are numbers starting from 0.

Example:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # Output: banana


Dictionaries use key-based access
You retrieve values using keys (which can be strings, numbers, etc.).
Each key maps to a value.

person = {"name": "Suraj", "age": 25}
print(person["name"])  # Output: Suraj
###

In [4]:
### Write a code to create a string with your name and print it###

name = "Suraj"
print(name)

Suraj

In [6]:
#Write a code to find the length of the string "Hello World"#

name = "Suraj Kumar"
print(len(name))

11

In [9]:
#Write a code to slice the first 3 characters from the string "Python Programming"#

obj = "Python Programming"
print(obj[:3])

Pyt

In [12]:
#Write a code to convert the string "hello" to uppercase#

obj = "hello"
print(obj.upper())

HELLO

In [16]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"P#

obj = "I like apple"
print(obj.replace("apple", "orange"))

I like orange

In [20]:
#Write a code to create a list with numbers 1 to 5 and print it#

lis = [1, 2, 3, 4, 5]
print(lis)

[1, 2, 3, 4, 5]

In [24]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]#

lis = [1, 2, 3, 4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [27]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]#

lis = [1, 2, 3, 4, 5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [29]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']#

lis = ['a', 'b', 'c', 'd']
print(lis[1])

b

In [32]:
#Write a code to reverse the list [10, 20, 30, 40, 50]#

lis = [10, 20, 30, 40, 50]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]

In [34]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.#

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [37]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')#

tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [40]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)#

tup = (10, 20, 5, 15)
print(min(tup))

5

In [42]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')#

tup = ('dog', 'cat', 'rabbit')
print(tup.index('cat'))

1

In [46]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.#

tup = ('apple', 'banana', 'kiwi')
is_kiwi_present = 'kiwi' in tup
print(is_kiwi_present)

True

In [48]:
 #Write a code to create a set with the elements 'a', 'b', 'c' and print it.#

 elements = {'a', 'b', 'c'}
 print(elements)

{'a', 'c', 'b'}

In [51]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.#

elements = {1, 2, 3, 4, 5}
elements.clear()
print(elements)

set()

In [55]:
 #Write a code to remove the element 4 from the set {1, 2, 3, 4}#

 elements = {1, 2, 3, 4}
 elements.remove(4)
 print(elements)

{1, 2, 3}

In [57]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}#

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [59]:
 #Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.#

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [62]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.#

dic = {"name": "Suraj", "age" : 25, "city": "New Delhi"}
print(dic)

{'name': 'Suraj', 'age': 25, 'city': 'New Delhi'}

In [65]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}#

dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [67]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.#

dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [70]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}#

dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [72]:
 #Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}#

dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
    print("The key 'city' in the dictionary.")
else:
    print("The key 'city' not in the dictionary.")

The key 'city' in the dictionary.

In [74]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.#

lis = [1, 2, 3, 4]

tup = (1, 2, 5)

dict = {'name': 'Suraj', 'age':25}

print("List:", lis)
print("tup:", tup)
print("dict:", dict)

List: [1, 2, 3, 4]
tup: (1, 2, 5)
dict: {'name': 'Suraj', 'age': 25}

In [76]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)#

SyntaxError: invalid syntax (<ipython-input-76-c0cc87054ecc>, line 2)

In [78]:
 #Write a code to create a list with strings and print the element at the third index.#

 lis = ['Suraj', 'money', 'tablet', 'delhi']
 print(lis[3])

delhi

In [83]:
#Write a code to combine two dictionaries into one and print the result.#

dict1 = {'name1': 'Suraj', 'age1':12, 'state1' : 'delhi'}
dict2 = {'name2': 'Ramesh', 'age2': 13, 'state2' : 'Mumbai'}

sum_dict = {**dict1, **dict2}
print(sum_dict)

{'name1': 'Suraj', 'age1': 12, 'state1': 'delhi', 'name2': 'Ramesh', 'age2': 13, 'state2': 'Mumbai'}

In [84]:
#Write a code to convert a list of strings into a set.#

lis = ['name', 'cricket', 'fame']
list_to_set = set(lis)
print(list_to_set)

{'name', 'fame', 'cricket'}